// +resets

* 
    margin: 0
    padding: 0

body 
    font-size: 18px
    font-family: 'Oswald', sans-serif;

img 
    max-width: 100%

article 
    width: 100%

a 
    color: #840202
    text-decoration: none

a:hover 
    text-decoration: underline

// -resets

// +widgets

.text-center
    text-align: center

    *
        text-align: center
.list
    margin: 0
    padding: 0
    list-style-type: none

    .list-item
        margin: 0
        padding: 0
        line-height: 1.7em

        &>.list
            list-style-type disc
            text-align: left
            padding-left: 45px
            .list-item
                text-align: left 

    &.list-horizontal
        vertical-align: top

        &>.list-item
            vertical-align: top
            display: inline-block
    &.list-equal-5
        &>.list-item
            width: 32%

            &.wide
                width: 100%

.icon
    width: 40px
    height: 40px
    display: inline-block
    // background-color: black;
    background-size: 100%

    &.fb
        background-image: url("/imgs/facebook.svg")
    &.leetcode
        background-image: url("/imgs/leetcode.png")
    &.github
        background-image: url("/imgs/github.svg")
    &.linkedin
        background-image: url("/imgs/linkedin.svg")

.half
    display: inline-block
    width: 49%
// +widgets

nav
    background-color: rgb(132, 2, 2)
    text-align: center
    font-size: 1.1em
    position: fixed
    z-index: 10000
    width: 100%
    top: 0
    text-transform: uppercase
    
    .list 
        display: inline-block
        font-size: 0

        .list-item 
            font-size: 1.3rem
            border-left: 2px solid rgba(255, 255, 255, 0.7)
            &:last-of-type 
                border-right: 2px solid rgba(255, 255, 255, 0.7)
    a
        color: white
        display: inline-block
        margin: 0
        padding: 10px 15px

        &:hover 
            background-color: rgba(255, 255, 255, 0.3)
            text-decoration: none

.content
    width:  100%
    max-width: 960px
    margin: 0 auto
    padding: 75px 20px;


    h3
    h4
        margin-top: 10px
    h1
        font-size: 1.8em
        text-align: center
        margin-bottom: 45px
    h2
        font-size: 1.4em
    h3
        font-size: 1.2em
    h4
        font-size: 1.1em

.intro
    background-color: #ccc
    display: table

    .img-container
    .info
        display: table-cell

    .img-container
        width: 40%

        img
            border-radius: 5px
            border: 2px solid #840202
    
    h1
        text-align: left
    .info
        vertical-align: top
        position relative
        height: 100%

        padding-left: 45px

        font-size: 1.5em

        .list-item
            line-height: 2em

        // a
        //     text-decoration: underline

    
    .buttons
        position: absolute
        bottom: 0

.work
    h2
    h3
    h4
        text-align: center
        margin-top: 15px
    
    .list
        width: 100%
        max-width: 640px
        margin: 30px auto


        .list
            list-style-type: disc

        .list-item
            line-height: 1.6em
            margin-top: 25px

            .list-item
                margin-top: 0

.tech
    background-color: #f4f4f4

    .list
        &>.list-item
            margin-top: 15px

        .list
            .list-item
                margin: 0
                line-height: 1.7em

.education
    .list
        .list-item
            vertical-align: top

.achievements
    background-color: #f4f4f4

    .list
        width: 640px
        max-width: 100%
        display inline-block
        text-align: left

        .list-item
        p
            text-align: left
        
        .list
            display inline-block

    
@media only screen and (max-width: 768px)
    .intro
        display: block

    .img-container
    .info
        display: inline-block

        .buttons
            bottom: -55px

    .work
        text-align: center

        .list
            list-style-type: none !important

@media only screen and (max-width: 425px)
    .intro
        h1
            text-align: center
        .img-container
        .info
            display: block
            width: 100%
            text-align: center
            padding: 0
            
            .buttons
                margin-top: 40px;
                position: static
    nav
        .list-item 
            font-size: 0.7rem !important
            a
                padding: 5px 10px
    .list.list-equal-5>.list-item
        width: 48% !important
        &.wide
            width: 100% !important

    .achievements
        .list
            max-width: 90%
