* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}
img {
  width: 300px;
  max-width: 100%;
}
article {
  width: 100%;
}
a {
  color: inherit;
  transition: all 0.2s;
}
.text-center {
  text-align: center;
}
.text-center * {
  text-align: center;
}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list .list-item {
  margin: 0;
  padding: 0;
  line-height: 1.7em;
}
.list .list-item>.list {
  list-style-type: disc;
  text-align: left;
  padding-left: 45px;
}
.list .list-item>.list .list-item {
  text-align: left;
}
.list.list-horizontal {
  vertical-align: top;
}
.list.list-horizontal>.list-item {
  vertical-align: top;
  display: inline-block;
}
.list.list-equal-5>.list-item {
  width: 32%;
}
.list.list-equal-5>.list-item.wide {
  width: 100%;
}
.icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: 100%;
}
.icon.fb {
  background-image: url("/imgs/facebook.svg");
}
.icon.leetcode {
  background-image: url("/imgs/leetcode.png");
}
.icon.github {
  background-image: url("/imgs/github.svg");
}
.icon.linkedin {
  background-image: url("/imgs/linkedin.svg");
}
.half {
  display: inline-block;
  width: 49%;
}
nav {
  background-color: #404040;
  text-align: center;
  font-size: 1.1em;
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 0;
  text-transform: uppercase;
}
nav .list {
  display: inline-block;
  font-size: 0;
}
nav .list .list-item {
  font-size: 1.3rem;
  border-left: 1px solid rgba(255,255,255,0.3);
}
nav .list .list-item:last-of-type {
  border-right: 1px solid rgba(255,255,255,0.3);
}
nav a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  transition: all 0.2s;
}
nav a:hover {
  background-color: rgba(255,255,255,0.3);
  text-decoration: none;
}
.content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 45px 0;
  padding-top: 80px;
}
.content h1 {
  font-size: 2.6em;
  text-align: center;
  margin-bottom: 20px;
  color: #bd2438;
  text-transform: uppercase;
}
.content h2 {
  font-size: 2.2em;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  line-height: normal;
}
.content h3 {
  font-size: 1.3em;
  font-weight: normal;
}
.content h4 {
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0.7;
}
.content a:hover {
  color: #bd2438;
}
.intro {
  background-image: url("/imgs/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: table;
  color: #fff;
}
.intro .img-container,
.intro .info {
  display: table-cell;
}
.intro .img-container {
  width: 40%;
}
.intro .img-container img {
  border-radius: 50%;
}
.intro h1 {
  text-align: left;
  color: #fff;
  text-transform: none;
}
.intro .info {
  vertical-align: top;
  position: relative;
  height: 100%;
  padding-left: 45px;
  font-size: 1.5em;
}
.intro .info .list-item {
  line-height: 1.6em;
  font-size: 0.8em;
}
.intro .buttons {
  position: absolute;
  bottom: -25px;
  padding-top: 40px;
}
.intro a:hover {
  color: #bd2438;
}
.work h2,
.work h3,
.work h4 {
  text-align: center;
  margin-top: 15px;
}
.work .list {
  width: 100%;
  max-width: 640px;
  margin: 30px auto;
}
.work .list .list {
  list-style-type: disc;
}
.work .list .list-item {
  line-height: 1.6em;
  margin-top: 25px;
}
.work .list .list-item .list-item {
  margin-top: 0;
}
.tech {
  background: #bd2438;
  color: #fff;
}
.tech h1 {
  color: #fff;
}
.tech h2 {
  border-color: #d25c6c;
}
.tech .list>.list-item {
  margin-top: 15px;
}
.tech .list .list .list-item {
  margin: 0;
  line-height: 1.7em;
}
.education .list .list-item {
  vertical-align: top;
}
.achievements {
  background-image: url("../imgs/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.achievements .list {
  width: 100%;
  max-width: 640px;
  display: inline-block;
  text-align: left;
}
.achievements .list .list-item,
.achievements .list p {
  text-align: left;
}
.achievements .list .list {
  display: inline-block;
}
.achievements h1 {
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .intro {
    display: block;
  }
  .img-container,
  .info {
    display: inline-block;
  }
  .img-container .buttons,
  .info .buttons {
    bottom: -55px;
  }
  .work {
    text-align: center;
  }
  .work .list {
    list-style-type: none !important;
  }
}
@media only screen and (max-width: 425px) {
  .intro h1 {
    text-align: center;
  }
  .intro .img-container,
  .intro .info {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .intro .img-container .buttons,
  .intro .info .buttons {
    margin-top: 40px;
    position: static;
    padding-top: 40xp;
  }
  nav .list-item {
    font-size: 0.7rem !important;
  }
  nav .list-item a {
    padding: 5px 10px;
  }
  .list.list-equal-5>.list-item {
    width: 48% !important;
  }
  .list.list-equal-5>.list-item.wide {
    width: 100% !important;
  }
  .achievements .list {
    max-width: 90%;
  }
}
